<!DOCTYPE html>
<html ng-app="app" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="assets/styles/main.css">
        <script src="/node_modules/angular/angular.js"></script>
        <script src="app/modules.js"></script>
        <script src="app/controllers/main.controller.js"></script>
        <script src="app/controllers/bicycle.controller.js"></script>
        <script src="app/services/common.service.js"></script>
        <script src="app/services/bicycle.service.js"></script>
        <script src="app/services/user.service.js"></script>
    </head>

    <body ng-controller="MainController">
        <div class="container" ng-cloak ng-controller="BicycleController">
            <div class="content">

                <div class="debugging-container" ng-show="debugging">
                    <div class="debugging-content">
                        <pre>QUOTE >> {{Quote | json}}</pre>
                    </div>
                </div>

                <form name="BicycleQuoteForm" method="post" novalidate ng-submit="BicycleQuoteForm.$valid && ValidateForm(BicycleQuoteForm) && SendForm()">
                    <div class="section">
                        <label>Length of Cover:</label>
                        <div class="" ng-repeat="LengthOfCover in LengthOfCoverOptions">
                            <input class="" type="radio" id="radio-lengthofcover-{{LengthOfCover.id}}" value="{{LengthOfCover.id}}" ng-model="Quote.LengthOfCover" />
                            <label class="" for="radio-lengthofcover-{{LengthOfCover.id}}">{{LengthOfCover.value}}</label>
                        </div>
                    </div>

                    <div class="section">
                        <!--BICYLE SECTION START-->
                        <label>Bicycles (max 4):</label>
                        <p ng-show="Quote.Bicycles.length > 0">You currently have <strong>{{Quote.Bicycles.length}} {{BicycleText}}</strong>, with a combined value of <strong>£{{TotalBicycleValue}}</strong> on the current quote.</p>

                        <ul style="padding-left: 10px;">
                            <li style="list-style-type: none;" ng-repeat="Bicycle in Quote.Bicycles">
                                <strong>{{Bicycle.MakeModel | uppercase}}</strong> | <small>{{Bicycle.TypeName}}</small> | <small>&pound;{{Bicycle.Value}}</small></br>
                                <a class="bicycle-link remove" ng-show="Quote.Bicycles.length > 1" ng-click="RemoveBicycle($index)">remove</a>
                                <span ng-show="Quote.Bicycles.length > 1">&nbsp;/&nbsp;</span>
                                <a class="bicycle-link edit" ng-click="EditBicyle($index)">edit</a>
                            </li>
                        </ul>

                        <div ng-show="ShowAddBicycle">
                            <input class="" type="text" ng-model="Bicycle.MakeModel" placeholder="Model" />
                            <input class="" type="text" placeholder="Value" ng-model="Bicycle.Value">
                            <select class="" ng-model="Bicycle.Type" ng-options="option.id as option.value for option in BicycleTypeOptions">
                                <option value="">Type of Bicycle</option>
                            </select>
                            <button class="" type="button" ng-click="AddBicycle()" ng-disabled="IsAddToQuoteDisabled">Add to Quote</button>
                        </div>
                        <!--BICYLE SECTION END-->
                    </div>

                    <div class="section">
                        <label>Enter the value of any accessories you wish to insure:</label>
                        <input class="" type="text" ng-model="Quote.AccessoriesValue" ng-blur="AccessoriesValueBlur()" placeholder="250 as standard" />
                    </div>

                    <div class="section">
                        <label>Enter the value of any additional wheelsets you wish to insure:</label>
                        <input class="" type="text" ng-model="Quote.WheelsetValue" ng-blur="WheelsetValueBlur()" />
                    </div>

                    <div class="section">
                        <label>Value of helmets, clothing and wetsuits:</label>
                        <div class="" ng-repeat="HelmetAndClothingValue in HelmetAndClothingValueOptions">
                            <input class="" type="radio" id="radio-helmetandclothingvalue-{{HelmetAndClothingValue.id}}" value="{{HelmetAndClothingValue.value}}" ng-model="Quote.HelmetAndClothingValue" />
                            <label class="" for="radio-helmetandclothingvalue-{{HelmetAndClothingValue.id}}">{{HelmetAndClothingValue.value}}</label>
                        </div>
                    </div>

                    <div class="section">
                        <label>Level of Cover:</label>
                        <div>
                            <div class="" ng-repeat="TypeOfCover in TypeOfCoverValueOptions">
                                <input class="" type="radio" id="radio-typeofcover-{{TypeOfCover.id}}" value="{{TypeOfCover.value}}" ng-model="Quote.TypeOfCover" />
                                <label class="" for="radio-typeofcover-{{TypeOfCover.id}}">{{TypeOfCover.value}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <label>How many bicycle claims in the last 3 years:</label>
                        <div>
                            <div class="" ng-repeat="Claim in ClaimOptions">
                                <input class="" type="radio" id="radio-claims-{{Claim.id}}" value="{{Claim.value}}" ng-model="Quote.NumberOfClaimsInLastThreeYears" />
                                <label class="" for="radio-claims-{{Claim.id}}">{{Claim.value}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <label>Select Cover Start Date:</label>
                        <select class="" ng-model="Quote.CoverStartDate" ng-change="ChangeCoverStartDate()" ng-options="option.Id as option.Name for option in CoverStartDateOptions" required>
                            <option value="">Choose a date</option>
                        </select>
                    </div>

                    <div class="section">
                        <label>Enter your date of birth:</label>
                        <div class="">
                            <div class="">
                                <select class="" ng-model="DateOfBirthDay" ng-disabled="!Quote.CoverStartDate" ng-change="CheckDateOfBirth()" integer>
                                    <option value="">Day</option>
                                    <option ng:repeat="day in DayOptions" value="{{day.id}}" >{{day.name}}</option>
                                </select>
                            </div>
                            <div class="">
                                <select class="" ng-model="DateOfBirthMonth" ng-disabled="!Quote.CoverStartDate" ng-change="CheckDateOfBirth()" integer>
                                    <option value="">Month</option>
                                    <option ng:repeat="month in MonthOptions" value="{{month.id}}" >{{month.name}}</option>
                                </select>
                            </div>
                            <div class="">
                                <select class="" ng-model="DateOfBirthYear" ng-disabled="!Quote.CoverStartDate" ng-change="CheckDateOfBirth()" integer>
                                    <option value="">Year</option>
                                    <option ng:repeat="year in DateOfBirthYearOptions" value="{{year.id}}" >{{year.name}}</option>
                                </select>
                            </div>
                            <div class="">
                                <label>Current Age:</label>
                                <label>{{Quote.Age}}</label>
                            </div>
                            <div class="">
                                <label>Age at Inception:</label>
                                <label>{{Quote.InceptionAge}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="section">
                        <label>Please confirm the following statements:</label>
                        <div>
                            <ul>
                                <li><p>I am a resident in the UK.</p></li>
                                <li><p>I have never been convicted of a criminal offence.</p></li>
                                <li><p>I have never had a policy cancelled, voided or renewal refused.</p></li>
                            </ul>
                            <div>
                                <input id="agreeToStatments" type="checkbox" ng-model="Quote.AgreedToStatments" ng-true-value="true" ng-false-value="false" ng-required="StatementRequired" />
                                <label for="agreeToStatments">I agree to the above statements.</label>
                            </div>
                        </div>
                    </div>

                    <div ng-if="Quote.AgreedToStatments">
                        <p style="color: #00CC00;">You have agreed to the statements above</p>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
